@{ViewData["Title"] = "Warning";}
@model ST1.Models.User
<h1 class="title">Użytkownik niezalogowany nie ma dostępu do tej akcji. Proszę się zarejestrować lub czekać na nadanie statusu ACTIVE.</h1>

